html {
    font-size: 20px;
    font-family: Arial, sans-serif;
    height: auto;
}
@font-face {
    font-family: 'Font';
    src: url('font.ttf');
}
body {
    font-family: 'Font', Tahoma, Geneva, Verdana, sans-serif;
    margin: auto;
    padding: 0;
    background-color: #f4f4f4;
    background-image: url("wallpaper.jpg");
    background-size: cover;
    background-position: center;
    min-width: 150px;
}

.portfolio-card {
    max-width: 800px;
    margin: 0 auto;
    background-color: rgba(255, 208, 246, 0.35);
    padding: 20px;
    box-shadow: 0 0 20px rgb(0, 0, 0);
    border-radius: 50px;
    overflow: hidden;
    backdrop-filter: blur(10px);
}
.profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0 20px;
    overflow: hidden;
    border: 5px solid #700080;
}
.picture_and_text {
    display: inline-flex;
}
.rounded-rectangle {
      display: inline-block; /* Сделаем контейнер блочно-строчным, чтобы он занимал только необходимое пространство */
      padding: 10px; /* Добавим отступ вокруг текста внутри прямоугольника */
      border: 3px solid #700080; /* Граница для прямоугольника (необязательно) */
      border-radius: 10px; /* Радиус закругления углов */
}

.icon{
    border-radius: 50%;
    border: 2px solid #700080;
}

.profile-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

h1, h2, h3, p {
    color: #333;
    margin: 0;
}

p{
    font-family: Verdana, sans-serif;
    text-indent: 50px;
    margin-bottom: 8px;
    color: #222222;
}

h1 {
    text-align: center;
}
h2{
    color: #700080;
}

h3 {
    /*margin-top: 20px;*/
    /*margin-bottom: 20px;*/
    color: #700080;
}
#centered {
    /*margin-top: 20px;*/
    /*margin-bottom: 20px;*/
    text-align: center;
}

.flex__container {
    margin-top: 20px;
    display: flex;
    gap: 15px;
    flex-direction: row;
    flex-wrap: wrap;
     justify-content: space-around;
}

.flex__element {
    /*flex: 1;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
    max-width: 300px;

    background-color: rgba(170, 208, 246, 0);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.23);

    padding: 5px 15px;

    margin: 5px 5px 15px;
}

.flex__element .flex__title {
    margin-bottom: 0;
    color: rgba(0, 0, 0, 0.8);
    text-shadow:
            2px 2px 5px rgba(0, 0, 0, 0.4);
}
.outlined {
      background: #222222;
}

c {
    text-align: center;
    font-size: 1.17em;
    font-weight: bold;
}
